# env files
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Directories
output/*
extractions/*
input/*
.idea/

# Exclude specific directories
!output/
!extractions/
